.details_wrap {
    display: flex;
    gap: 15px;
    .details {
        flex: 1;
    }
    .overview {
        width: 300px;
    }
}

.overview_card {
    background: #fff;
    position: sticky;
    top: 110px;
    margin-top: 150px;
    padding: 20px;
}

@media (max-width: 768px) {
    .details_wrap {
        flex-direction: column;
    }
    .overview {
        width: 100%;
    }
    .overview_card {
        margin-top: 10px;
    }
}


.instractor {
    display: flex;
    gap: 15px;
}

.profile {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    padding: 20px 10px;
}
.get_in {
    width: 100%;
    padding: 10px;
    background: var(--fave);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 20px;
}